---
import Layout from "../layouts/Layout.astro";
---
<Layout name="Contact Successful">
    <section class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-2xl font-semibold">Thank you for contacting me!</h1>
            <p class="mt-4">I'll get back to you soon.</p>
            <a href="/" class="btn btn-primary mt-6">Go Back to Home</a>
        </div>
    </section>
</Layout>
