---
import type { AnalaPage } from "./admin/pages";
export type Props = {
	pages: AnalaPage[];
};
const { pages } = Astro.props;
---
{pages.map((page) => (
        <li><a href={page.href}>{page.name}</a></li>
    ))}
