---

import Pagination from "./Pagination.astro";
import PostItem from "./PostItem.astro";
import type { ShortPost } from "./admin/posts";

export type Props = {
	posts: ShortPost[];
	pageSize: number;
	currentPage: number;
};
const { posts, pageSize, currentPage } = Astro.props;
---
<div class="container mx-auto p-4">
    <!-- Blog List -->
<div class="space-y-8">
    {posts.map(post => (
        <PostItem {...post}  />
    ))}
</div>
    <!-- Pagination -->
    <Pagination currentPage={currentPage} pageSize={pageSize} />
</div>