---
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
const currentTheme = "cupcake"; //will come form firebase config
---
<!doctype html>
<html data-theme={currentTheme} lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
</head>
<body>
<slot />
</body>
</html>