
---
import Nav from "../components/Nav.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
	name: string;
}
const { name } = Astro.props;
const title = import.meta.env.SITE_TITLE;
---
<BaseLayout title={`${title} - ${name}`}>
	<div class="container mx-auto p-4">
	<Nav title={title} />
		<slot />
	</div>
</BaseLayout>